.button {
	color: $c-white;
	padding: 10px 0;
	background-color: $c-cod-gray;
	min-width: 218px;
}

.link {
	font-style: italic;
	text-decoration: underline;
	transition: $transition ease;

	&:hover {
		@include mq('md') {
			color: $c-black;
		}
	}
}