// .footer
@include block('footer') {
	@extend .u-bg-dark-grey;
	color: $c-white;

	// .footer--blog
	@include modifier('blog') {
		.footer__container {
			padding: 30px 35px;
		}

		.footer__social {
			width: auto;

			.social__list {
				flex-flow: row nowrap;

				@include mq('md') {
					margin-top: 0;
				}
			}

			.social__item {
				padding-bottom: 0;

				@include mq('md', $type: 'max') {
					margin-left: 10px;
				}
			}
		}
	}

	a {
		&:active {
			outline: 1px dashed $c-white;
		}
	}

	// .footer__container
	@include element('container') {
		@extend %padding-slim;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding-bottom: 40px;
		padding-top: 35px;

		@include mq('md') {
			padding: 30px 35px 15px;
		}
	}

	// .footer__nav
	@include element('nav') {
		width: calc(200 / 343 * 100%);

		@include mq('md') {
			width: calc(345 / 698 * 100%);
		}

		.nav__items {
			display: flex;
			flex-flow: column wrap;
			width: 100%;
			height: 115px;

			@include mq('md') {
				flex-flow: row wrap;
				height: auto;
				justify-content: center;
			}
		}

		.nav__item {
			flex: 0 0 auto;
			height: 25%;
			width: 50%;

			@include mq('md') {
				height: auto;
				margin-bottom: 15px;
				width: 25%;
			}
		}

		.nav__link {
			&::before{
				background-color: $c-white;
			}
		}
	}

	// .footer__social
	@include element('social') {
		width: 22px;

		@include mq('md') {
			width: auto;
		}

		.social__list {
			display: flex;
			flex-flow: column nowrap;
			height: 100%;
			justify-content: space-between;
			width: 100%;

			@include mq('md') {
				align-items: center;
				flex-flow: row nowrap;
				margin-top: -15px;
			}
		}

		.social__item {
			&:not(:last-of-type) {
				@include mq('md', $type: 'max') {
					padding-bottom: 10px;
				}
			}

			@include mq('md') {
				margin-left: 20px;
			}
		}

		.social__link {
			fill: $c-white;
		}
	}
}