// .nav
@include block('nav') {

	// .nav__items
	@include element('items') {

	}

	// .nav__item
	@include element('item') {

	}

	// .nav__link
	@include element('link') {
		position: relative;

		&::before {
			@include mq('lg') {
				@include pseudo;
				left: 50%;
				bottom: -3px;
				width: 60%;
				height: 1px;
				opacity: 0;
				background-color: $c-cod-gray;
				transform: translate(-50%);
				transition: all ($transition/1.2) ease-in-out;
			}
		}

		&:hover {
			&::before {
				@include mq('lg') {
					width: 100%;
					opacity: 1;
				}
			}
		}

	}
}