// .social
@include block('social') {

	// .social__items
	@include element('items') {
	}

	// .social__item
	@include element('item') {
	}

	// .social__link
	@include element('link') {
		transition: $transition ease;

		@include mq('lg') {
			&:hover {
				.social__icon {
					transform: scale(1.2);
				}
			}
		}
	}

	// .social__icon
	@include element('icon') {
		height: 20px;
		width: 20px;
		transition: $transition ease;
	}
}