// .bunner-image
@include block('banner-image') {

	// .banner-image__container
	@include element('container') {
		@extend %padding-both;
		padding-bottom: 160px;
		padding-top: 20px;

		@include mq('md') {
			display: flex;
			flex-flow: row nowrap;
			padding-bottom: 305px;
			padding-top: 310px;
		}

		@include mq('lg') {
			padding-bottom: 120px;
			padding-top: 200px;
		}
	}

	// .banner-image__left
	@include element('left') {
		padding-bottom: 72px;

		@include mq('md') {
			align-self: center;
			flex: 0 0 50%;
			padding-bottom: 0;
		}
	}

	// .banner-image__right
	@include element('right') {
		position: relative;

		@include mq('md') {
			flex: 0 0 50%;
		}
	}

	// .banner-image__image-wrap
	@include element('image-wrap') {
		margin: 0 auto;

		@include mq('md') {
			width: calc(210 / 250 * 100%);
		}

		@include mq('lg', $type: 'max') {
			padding-top: 50px;
		}

		@include mq('lg') {
			width: calc(375 / 570 * 100%)
		}
	}

	// .banner-image__image
	@include element('image') {
		max-height: 100%;
		min-height: 100%;

		// .banner-image__image.is-drawn
		@include state('drawn') {
			animation: drawSVG 13s linear forwards;
		}
	}

	// .banner-image__text
	@include element('text') {
		padding-top: 30px;

		@include mq('md') {
			padding-top: 60px;
		}

		@include mq('lg') {
			padding-top: 66px;
		}

		p:not(:first-of-type) {
			padding-top: 18px;
		}

		// .banner-image__text__image-popup
		@include child('image-popup') {
			position: absolute;
			visibility: hidden;
			opacity: 0;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			padding-top: 25px;

			@include mq('md') {
				padding-top: 50px;
			}

			@include mq('lg') {
				z-index: -1;
				padding-top: 0;
			}
		}

		// .banner-image__text__image-wrap
		@include child('image-wrap') {
			@extend .u-image-wrap;
			@include responsive-img(288, 383);
			width: 288px;

			img {
				@extend .u-image;

				@include mq('lg') {
					opacity: 0.85;
				}
			}
		}

		// .banner-image__text__image
		@include child('image') {
			min-height: 100%;
			min-width: 100%;
		}

		// .banner-image__text__close
		@include child('close') {
			margin-bottom: 10px;
			margin-left: auto;
			margin-right: 0;

			@include mq('lg') {
				&.close {
					display: none;
				}
			}
		}
	}
}