// .bunner-list
@include block('banner-list') {

	// .banner-list__container
	@include element('container') {
		@extend %padding-both;
		padding-bottom: 288px;

		@include mq('md') {
			padding-top: 360px;
			padding-bottom: 350px;
		}

		@include mq('lg') {
			padding-bottom: 265px;
			padding-top: 180px;
		}
	}

	// .banner-list__heading
	@include element('heading') {
		@include mq('md') {
			margin-top: 0;
		}
	}

	// .banner-list__list
	@include element('list') {
		padding-top: 155px;
		overflow: hidden;

		@include mq('md') {
			padding-top: 15px;
		}

		@include mq('lg') {
			position: relative;
			z-index: 2;
		}
	}

	// .banner-list__items
	@include element('items') {
	}

	// .banner-list__item
	@include element('item') {
		margin-top: 35px;

		@include mq('md') {
			margin-bottom: 5px;
			margin-top: 50px;
		}

		span {
			@extend %typography--heading-5;
			cursor: pointer;
			position: relative;
			text-transform: uppercase;
			white-space: nowrap;
	
			&::before {
				@include pseudo;
				background-color: $c-cod-gray;
				bottom: 0;
				height: 1px;
				left: 0;
				margin-bottom: 2px;
				width: 100%;

				@include mq('md') {
					height: 3px;
				}
			}
		}
	}

	// .banner-list__popup
	@include element('popup') {
		position: relative;

		@include mq('lg') {
			position: static;
		}

		// .banner-list__popup__wrap
		@include child('wrap') {
			left:0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 1;

			@include mq('lg') {
				left: auto;
				margin-right: calc(149 / 1440 * 100%);
				margin-top: 48px;
				min-width: 640px;
				right: 0;
				width: calc(673 / 1440 * 100%);
			}
		}

		// .banner-list__popup__item
		@include child('item') {
			background-color: $c-alabaster;
			left: 0;
			opacity: 0;
			padding-top: 45px;
			position: absolute;
			top: 0;
			visibility: hidden;
			width: 100%;

			@include mq('md'){
				padding-top: 0;
			}

			// .banner-list__popup__item.is-open
			@include state('open') {
			}
		}

		// .banner-list__popup__close
		@include child('close') {
			margin-bottom: 15px;

			@include mq('md') {
				margin: 0 auto;
				margin-bottom: 20px;
			}

			&.close {
				@include mq('lg') {
					display: none;
				}
			}
		}

		// .banner-list__popup__image-wrap
		@include child('image-wrap') {
			@include responsive-img(343, 278);

			@include mq('md') {
				padding-top: 50%;
			}

			@include mq('lg') {
				@include responsive-img(674, 546);
			}
		}

		// .banner-list__popup__image
		@include child('image') {
			max-height: 100%;

			@include mq('md') {
				@include mq('lg', $type: 'max') {
					max-height: none;
					max-width: 100%;
				}
			}
		}

		// .banner-list__popup__body
		@include child('body') {
			padding-top: 16px;
			text-align: center;

			@include mq('md') {
				padding-top: 32px;
			}

			a {
				@extend .link;
			}
		}

		// .banner-list__popup__text
		@include child('text') {
			// text-align: center;

			@include mq('md') {
				margin: 0 auto;
				max-width: 485px;
			}
		}
		// .banner-list__popup__links
		@include child('links') {
			margin-top: 15px;
		}
	}
}