// .banner-callout
@include block('banner-callout') {

	// .banner-callout__container
	@include element('container') {
		@extend %padding-slim;
	}

	// .banner-callout__wrap
	@include element('wrap') {
		align-items: center;
		display: flex;
		max-width: 300px;
		min-height: 600px;
		position: relative;

		@include mq('md') {
			justify-content: center;
			max-width: 100%;
			min-height: 820px;
		}

		@include mq('lg') {
			min-height: 760px;
		}
	}

	// .banner-callout__title
	@include element('title') {
		@extend %typography--heading-3;
		display: inline-block;
		flex: 0 0 auto;
		margin-top: -30px;
		max-width: 300px;
		position: relative;

		@include mq('md', $type: "max") {
			line-height: 42px;
		}

		@include mq('md') {
			text-align: center;
			margin-top: -54px;
			max-width: 100%;
		}

		@include mq('lg') {

		}
	}

	// .banner-callout__link
	@include element('link') {
		display: inline-block;
		position: relative;

		@include mq('md', $type: "max"){
			line-height: 32px;
		}

		&.link {
			font-style: normal;

			&::after {
				@include mq('md') {
					height: 3px;
				}
			}
		}
	}
}