.u-bg-grey {
	@extend %bg-grey;
}

.u-image-wrap {
	overflow: hidden;
	position: relative;

	.u-image {
		left: 50%;
		display: block;
		height: auto;
		min-width: 100%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: auto;
	}
}

.u-section-heading {
	@extend %typography--eyebrow;
	position: relative;
	padding-left: 26px;
	margin-top: 16px;

	@include mq('md') {
		margin-top: 40px;
	}

	&::before {
		@include pseudo();
		background-color: $c-cod-gray;
		height: 1px;
		left: 0;
		margin-top: -1px;
		top: 50%;
		width: 18px;
	}
}