.u-bg-grey {
	@extend %bg-grey;
}

.u-bg-dark-grey {
	@extend %bg-dark-grey;
}

.u-image-wrap {
	overflow: hidden;
	position: relative;

	.u-image {
		left: 50%;
		display: block;
		height: auto;
		min-width: 100%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
		width: auto;
	}
}

.u-section-heading {
	@extend %typography--eyebrow;
	position: relative;
	padding-top: 16px;

	@include mq('md') {
		padding-top: 40px;
	}
	span {
		display: block;
		position: relative;
		padding-left: 26px;

		&::before {
			@include pseudo();
			background-color: $c-cod-gray;
			height: 1px;
			left: 0;
			margin-top: -1px;
			top: 50%;
			width: 18px;
		}
	}
}