.intro {
	@extend %padding-slim;
	height: calc(100vh - 30px);
	max-height: 760px;
	min-height: 637px;
	position: relative;
	width: 100%;

	@include mq('md') {
		max-height: 1024px;
	}

	@include mq('lg') {
		min-height: 720px;
	}

	&__menu {
		display: none;

		@include mq('md') {
			bottom: 0;
			display: block;
			height: auto;
			padding-bottom: 80px;
			position: absolute;
			top: auto;
			width: calc(100% - 70px);
		}

		@include mq('xxl') {
			max-width: 1440px;
			padding-bottom: 45px;
		}

		.nav__items {
			display: none;

			@include mq('md') {
				align-items: center;
				border-top: 1px solid $c-cod-gray;
				display: flex;
				flex-flow: row nowrap;
				justify-content: space-between;
				padding-top: 12px;
			}
		}

		.nav__item {
			@include mq('md') {
				flex: 0 0 auto;
			}
		}
	}

	&__social {
		bottom: 0;
		left: 0;
		margin-bottom: 80px;
		margin-left: 16px;
		position: absolute;

		@include mq('md') {
			bottom: 50%;
			margin-bottom: 0;
			margin-left: 35px;
			transform: translate(0, -50%);
		}

		.social__item {
			margin-bottom: 18px;
		}
	}
}